SaveWidget {
	height: 3;
	margin: 1;
	/* background: #aa00ee; */
}

SaveListView {
	margin: 1;
	padding: 1;
	border: wide $accent;
	height: 75%;
}

#main-buttons Button {
	width: 22%;
}

#backup-actions Button, #directory-actions Button, #detail-actions Button {
	width: 48%;
}

#detail-stats {
	height: 65%;
	padding: 0 1;
	margin: 1;
	background: $panel;
	border: wide $accent;
}

Button {
	margin: 1 5;
}

Label {
	padding: 1;
}
